body {

    background-color:black;
    color: rgb(255, 255, 255);

}

label {

    color: black;
}

#city {
    margin-top: 5px;
    margin-bottom: 5px;
   

}

.city {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    

}

.header {
    text-align: center;

}

#left {
    /* width: 10%; */
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    

}

/* .button-id { */

.search-button {
    margin-top: 5px;
    width: 100%;
    color:black;
    
}

#right {
    height: 600px;
    color: black;
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
  
}

